<div class="uk-section-default uk-section">
  <div class="uk-container">
    <h2 i18n="@@cardMobile">Austrian Amateur radio repeaters</h2>
    <a [routerLink]="['/', listPath]" i18n="@@listTitle">Repeater list</a>
  </div>

  <div class="uk-container uk-container-xlarge">
    <div class="uk-container">
      <app-filter-bar />
    </div>

    <div uk-grid>
      <div class="uk-width-expand@m">
        <div class="map-container" id="map"></div>
      </div>

      <div class="uk-width-1-5@l">
        <div>
          @if (store.selectedSite()) {
            <app-site-info />
          } @else if (!store.pointInfo()) {
            <div class="alignToStart uk-width-expand">
              <h3 i18n="@@introtext">Welcome to the repeater page of the ÖVSV</h3>
              <p>
                <ng-container i18n="@@introtext_details1"
                  >Click on a repeater for further details. An interactive table of all repeaters can be
                  found</ng-container
                >
                <a [routerLink]="['/', listPath]" i18n="@@introtext_details1a">here</a>.
              </p>
              <p>
                <ng-container i18n="@@introtext_details2"
                  >Further information including downloadable repeater information, code plugs and Open
                  Data can be found</ng-container
                >
                <a href="https://www.oevsv.at/funkbetrieb/ukw-referat/maps/" i18n="@@introtext_details3"
                  >here</a
                ><ng-container i18n="@@introtext_details4">.</ng-container>
              </p>
              <p>
                <ng-container i18n="@@introtext_details5">Please send your feedback/updates to</ng-container>
                <a href="mailto:ukw@oevsv.at">ukw&#64;oevsv.at</a>.
              </p>
            </div>
          }

          @if (store.pointInfo()) {
            <app-nearby-info />
          }
        </div>
      </div>
    </div>
  </div>
</div>
